    <footer class="pie">
        
        <div>
           <p>George Moises Vasquez Quiche 2290-20-19785</p>
        </div>

        <div>
            <p>vasquezmgv@outlook.com</p>
        </div>
        
        <div>   
            <p>Santa Lucía Utatlán, Sololá, Guatemala</p>
        </div>
    
    </footer>