<!-- George Vasquez -->
<header class="cabecera">
    <nav class="menu-nav">
        <div class="div__mi-nombre" >
            George Vasquez
        </div>

        <div class="menu-nav_div1">
            <div class="div-nav--cabecera" ><a href="/">Inicio</a></div>
            <div class="div-nav--cabecera"><a href="/sobre-mi">Sobre mi</a></div>
            <div class="div-nav--cabecera"><a href="/contacto">Contacto</a></div>
            <div class="div-nav--cabecera"><a href="/portafolio-gmv">Portafolio</a></div>
        </div>

        <div class="nav-div-boton_munu">
            <button  class="btn btn-outline-warning" 
                type="button" data-bs-toggle="offcanvas" 
                data-bs-target="#menu-lateral" 
                aria-controls="menu-lateral">
                &#9776; MENU
            </button>
        </div>
    </nav>
</header>
