<!-- Nav George Vasquez -->
<div class="offcanvas offcanvas-start text-white" tabindex="-1" id="menu-lateral" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="titulo-menu" >GEORGE VASQUEZ</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
   <hr class="border  border-2 opacity-75 borde-hr"/>
  <div class="offcanvas-body">
    <div class="dropdown mt-3">
        <nav class="navegacion-lateral">
        <ul  id="menu-lista"  >
            <li>
                <a href="/">
                     Inicio
                </a>
            </li>
            <li>
                <a href="/sobre-mi">
                 Sobre mi
                </a>
            </li>
            <li>
                <a href="/contacto">
                     Contacto
                </a>
            </li>
            <li>
                <a href="/portafolio-gmv">
                     Portafolio
                </a>
            </li>   
        </ul>
        </nav>
    </div>
  </div>
</div>