<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="assets/css/barraDisposicion.css">
        <link rel="stylesheet" href="assets/css/estilo_contacto.css">
        <title>Contacto</title>
    </head>
    <body>
        {{>header}}
        {{>navbar}}
        <section class="seccion">
            <div class="seccion__div seccion__contacto">
                <h2>Correo</h2>
                <img src="images/email.png" alt>
                <p>vasquezmgv@outlook.com</p>
            </div>

            <div class="seccion__div seccion__telefono">
                <h2>Telefono</h2>
                <img src="images/telefono.png" alt>
                <p>39384801</p>
            </div>

            <div class="seccion__div seccion__ubicacion">
                <h2>Ubicacion</h2>
                <img src="/images/localizacion.png" alt>
                <p>Santa Lucia Utaltan, Solola, Gutemala</p>
            </div>
        </section>

        {{>footer}}
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script>

    </body>
</html>