<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/barraDisposicion.css">
    <link rel="stylesheet" href="assets/css/estiloProyectos.css">
    <script src="assets/js/despliegue.js"></script>
    <title>Proyecto 3</title>
</head>

<body>
    {{>header}}
    {{>navbar}}

    <article class="articulo">
        <h1>MONITORIZACION DE SISTEMA</h1>
        <section id="contenedor">
            <div class="contenedor__video">
                <video src="videos/proyecto3.mp4" controls></video>
            </div>

            <section class="section__descripcion">
                <button class="subtitulo"><span></span>DESCRIPCION</button>
                <div class="infoAdicional">
                    <p>En este proyecto, nos sumergiremos en el mundo de la administración y el monitoreo de sistemas
                        Windows
                        mediante el desarrollo de una aplicación de escritorio en C#. Nuestra herramienta integral
                        proporcionará
                        información valiosa sobre el sistema operativo, los procesos en ejecución, el hardware, el
                        software
                        instalado, el rendimiento del equipo y las redes TCP/IP. </p>

                    <p>
                        La gestión y supervisión eficaces de un sistema Windows son esenciales para garantizar su
                        rendimiento
                        óptimo
                        y la eficiencia de los recursos. En este proyecto, crearemos una herramienta que facilitará la
                        monitorización y el análisis de procesos en ejecución, información de sistema, rendimiento y
                        red,
                        brindando
                        a los usuarios una visión completa del estado de su máquina.
                    </p>
                </div>
            </section>

            <section class="tecnologia">
                <button class="subtitulo"><span></span>TECNOLOGIA USADO</button>
                <div class="infoAdicional">
                    <ul>
                        <li>
                            <h4>C#</h4>
                            <p>
                                La elección de C# como lenguaje principal para este proyecto de gestión de procesos y
                                sistema en
                                Windows se basa en una serie de razones clave:
                            </p>
                            <ol>
                                <li>
                                    <h5>Plataforma Windows Nativa:</h5>
                                    <p>
                                        C# es un lenguaje de programación desarrollado por Microsoft y está altamente
                                        integrado
                                        con
                                        la plataforma Windows. Esto lo convierte en una elección natural para el
                                        desarrollo
                                        de
                                        aplicaciones que se ejecutarán en sistemas Windows, asegurando una mayor
                                        compatibilidad
                                        y
                                        rendimiento.
                                    </p>
                                </li>

                                <li>
                                    <h5>Herramientas de Desarrollo:</h5>
                                    <p>
                                        Microsoft ofrece herramientas de desarrollo avanzadas y eficientes para C#.
                                        Visual
                                        Studio,
                                        por ejemplo, es una de las mejores suites de desarrollo integrado (IDE)
                                        disponibles,
                                        que
                                        brinda un entorno de programación completo para crear aplicaciones de escritorio
                                        en
                                        Windows.
                                    </p>
                                </li>

                                <li>
                                    <h5>Interfaz Gráfica de Usuario (GUI):</h5>
                                    <p>
                                        C# es excepcionalmente adecuado para el desarrollo de interfaces gráficas de
                                        usuario
                                        (GUI)
                                        atractivas y modernas. La biblioteca WinForms y WPF (Windows Presentation
                                        Foundation)
                                        facilitan la creación de interfaces intuitivas y visualmente agradables.
                                    </p>
                                </li>

                                <li>
                                    <h5>Bibliotecas de Windows:</h5>
                                    <p>
                                        C# ofrece acceso directo a las bibliotecas de Windows y API, lo que permite
                                        interactuar
                                        de
                                        manera eficiente con el sistema operativo y obtener información del sistema,
                                        como
                                        procesos
                                        en ejecución, información de hardware y más.
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </article>
    {{>footer}}
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script>
</body>
</html>