<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/barraDisposicion.css">
    <link rel="stylesheet" href="assets/css/estiloProyectos.css">
    <script src="assets/js/despliegue.js"></script>
    <title>Proyecto 2</title>
</head>

<body>
    {{>header}}
    {{>navbar}}

    <article class="articulo">
        <h1>CALCULADORA DE INTEGRALES</h1>
        <section id="contenedor">
            <div class="contenedor__video">
                <video src="videos/proyecto2.mp4" controls></video>
            </div>

            <section class="section__descripcion">
                <button class="subtitulo"><span></span>DESCRIPCION</button>

                <div class="infoAdicional">
                    <p>
                        Calculadora para escritorio, en este proyecto, nos embarcaremos en un viaje de resolución de
                        cálculos
                        integrales utilizando Python como
                        nuestro lenguaje principal, y aprovecharemos las bibliotecas PyQt5 y SymPy para crear una
                        interfaz
                        gráfica
                        intuitiva y una potente herramienta de cálculo.
                    </p>
                    <ul>
                        <li>Integrales defindos</li>
                        <li>indefinidos</li>
                    </ul>
                    <p>
                        Los cálculos integrales son fundamentales en matemáticas y ciencias, pero pueden volverse
                        complejos
                        y
                        laboriosos a medida que aumenta la complejidad de las funciones. Nuestro objetivo es desarrollar
                        una
                        aplicación que permita a los usuarios resolver de manera eficiente y precisa una variedad de
                        cálculos
                        integrales, al tiempo que proporciona una experiencia de usuario agradable.
                    </p>
                </div>
            </section>

            <section class="tecnologia">
                <button class="subtitulo"><span></span>TECNOLOGIA USADO</button>
                <div class="infoAdicional">
                    <ul>
                        <li>
                            <h4>Python</h4>
                            <p>
                                La elección de Python como lenguaje principal para este proyecto de resolución de
                                cálculos
                                integrales con PyQt5 y SymPy se basa en varias razones fundamentales:
                            </p>
                            <ol>
                                <li>
                                    <h5>SymPy para Manipulación Simbólica:</h5>
                                    <p>
                                        SymPy es una biblioteca de matemáticas simbólicas poderosa en Python. Nos
                                        permite
                                        realizar
                                        operaciones algebraicas y cálculos simbólicos, lo que es esencial para resolver
                                        cálculos
                                        integrales de manera precisa y flexible.
                                    </p>
                                </li>

                                <li>
                                    <h5>PyQt5 para Interfaz Gráfica:</h5>
                                    <p>
                                        PyQt5 es una biblioteca popular para el desarrollo de interfaces gráficas en
                                        Python.
                                        Ofrece
                                        una amplia gama de widgets y herramientas para crear interfaces atractivas y
                                        fáciles
                                        de
                                        usar. Esto es crucial para presentar los cálculos de manera visualmente
                                        agradable y
                                        accesible.
                                    </p>
                                </li>

                                <li>
                                    <h5>Portabilidad:</h5>
                                    <p>
                                        Python es multiplataforma y puede ejecutarse en diversos sistemas operativos sin
                                        cambios
                                        significativos en el código. Esto es beneficioso para garantizar que nuestra
                                        aplicación
                                        sea
                                        accesible para un público más amplio.
                                    </p>
                                </li>
                            </ol>

                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </article>

    {{>footer}}
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>

</body>

</html>