h1{
    text-align: center;
    color: bisque;
    transition: 0.3s;
}

h1:hover{
color: rgb(238,106,108);
color: linear-gradient(90deg, rgba(238,106,108,0.1741071428571429) 0%, rgba(244,242,205,1) 96%);
text-shadow: 2px 2px 4px rgba(169, 24, 24, 0.64);
transform: scale(0.9);

}

h4{
    font-weight: bold;
    font-size: 25px;
}

ul li, ol li {
    font-size: 20px;
}



#contenedor{
    display: grid;
    width: 95vw;
    grid-template-rows: auto,auto,auto;
    justify-items: center;
    align-items: center; /* Centra verticalmente */
    margin: 15px;
}

video{
    width: 50vw;
}

.subtitulo{
    position: relative;
    margin: 13px;
    padding: 1em;
    font-size:25px;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 0px;
    background-color: transparent; /* Quitamos el color de fondo */
    color:wheat;
    border:none;
    transition: 0.5s ;
    overflow: hidden;
    text-align: center;

}

.subtitulo span{
    position: absolute;
    background: rgb(21,25,28);
    background: linear-gradient(90deg, rgba(21,25,28,1) 0%, rgba(0,184,167,0.87718837535014) 84%);
    height: 4px;
    width: 400px;
    bottom:1%;
    right: 100%;
    transition: 0.5s ;
}

.subtitulo:hover span {
    right: 0%;

}

.infoAdicional {
    margin-left: 15px;
    display: none;
    padding: 10px;
    width: 95%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
    rgba(29, 29, 29, 0.491) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.infoAdicional p {
    font-size: 20px;
    color: rgb(231, 224, 198);
}

.links {
    color: aqua;
}